.ParkActivitiesContainer {
  background-color: #ecdbba;
  /* max-width: 1330px; */
  /* width: 100%; */
  max-width: 1330px;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
}

.ActivitiesTitlesAndButton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.ParkActivitiesP {
  text-align: left;
  font-size: 1.75rem;
  margin-left: 1rem;
  margin-top: -2rem;
}

.ParkActivitiesButton {
  all: unset;
  background-color: #c84b31;
  color: white;
  border-radius: 2rem;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2rem 1rem 2rem 1rem;
}

.ParkActivitiesButton:hover {
  cursor: pointer;

  background-color: #a7422e;
}

.ActivitiesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* width: 100%; */
  max-width: 1330px;
  height: auto;
}

@media (max-width: 768px) {
  .ParkActivitiesButton {
    font-size: 1.25rem;
  }

  .ParkActivitiesP {
    font-size: 1.25rem;
  }
}

@media (max-width: 480px) {
  .ParkActivitiesButton {
    font-size: 1rem;
  }
  .ParkActivitiesP {
    font-size: 1.25rem;
  }
}
