.Park {
  min-width: 300px;
  max-width: 300px;
  margin: 1rem;
  text-align: left;
  overflow: hidden;
}

.Parkimage {
  object-fit: cover;
  height: 300px;
  width: 100%;
  border-radius: 1.25rem;
  transition: transform 0.5s ease;
}

.Parkimage:hover {
  cursor: pointer;
}

.Parkimage:hover {
  transform: scale(1.05);
  /* cursor: pointer; */
}

.ParkNameButtonContainer {
  display: flex;
}

.ParkName {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 0.25rem;
}

/* .ParkButton {
  all: unset;

  color: #c84b31;
 
  width: 2rem;
  position: relative;
  bottom: 10%;
  left: 80%;
  border-radius: 0.5rem;
} */

.ParkLocation {
  color: rgb(69, 68, 68);
  margin-top: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: underline;
}

.ParkButtonDiv{
  display:flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .Park {
    min-width: 250px;
    max-width: 250px;

  }
  .Parkimage {
    height: 250px;
  }
}

@media (max-width: 480px) {
  .Park {
    min-width: 150px;
    max-width: 150px;
 
  }

  .Parkimage {
    height: 150px;
  }
}
