.ParkResultsContainer {
  background-color: #f2f2f2;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ParksContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 3rem;
  max-width: 1500px;
}
