

.ParkResultsContainer{
    /* background-color:#ECDBBA; */
    background-color: #dddbca;
    /* max-height: 1500px; */
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.ParksContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem;
    max-width: 1500px;
}