.ParkDetailsActivitiesContainer {
  padding: 1rem 0 1rem 0;
  border-bottom: 1px solid;
  max-width: 1130px;
  width: 100%;
  background-color: white;
}

.ParkDetailsActivitiesType {
  display: flex;
  flex-wrap: wrap;
  max-width: 1130px;
  width: 100%;
}

.ParkActivitiesContainerTitle {
  text-align: left;
  margin-left: 1rem;
}

@media (max-width: 480px) {
  .ParkActivitiesContainerTitle {
    font-size: 1.25rem;
  }
}
