.PlansParkDetailContainer {
  display: flex;
  flex-wrap: wrap;
}

.PlanParkDetailsH1 {
  text-align: left;
  margin: 1rem;
}

.PlanParkDetail {
  width: 100px;
  margin-top: 0.5rem;
  text-align: left;
}
.ParkDetailWrapper {
  padding: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.PlanParkDetailsImageWrapper {
  display: flex;
  justify-content: space-between;
}

.planParkDetailsImage {
  max-height: 200px;
  height: 100%;
  max-width: 200px;
  width: 100%;
  margin: 1rem 1rem 1rem 0;
}

@media (max-width: 768px) {
  .PlanParkDetailsImageWrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  .planParkDetailsImage {
    max-height: 500px;
    height: 100%;
    max-width: 1130px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
    border-radius: 0;
  }
}

@media (max-width: 480px) {
  .planParkDetailsImage {
    max-height: 150px;
    height: 100%;
    max-width: 150px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    max-width: 1130px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
  }
}
