.ParkListContainer {
  max-width: 1330px;
}

.ParkList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* width: 100%; */
  max-width: 1130px;
  height: 100%;
}

@media (max-width: 1130px) {
  .ParkListContainer{
    width: 100vw;
  }

  .ParkList {
    justify-content: normal;
    padding: 2rem 0 2rem 0;
    overflow-x: scroll;
    width: 100vw;
    max-width: 100%;
    overflow-y: hidden;
    white-space: nowrap;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
   background-size: contain;
   -webkit-overflow-scrolling: touch;

  }

  .ParkList::-webkit-scrollbar{
    display: none;
  }

}
