.NavItem {
  transition: all 0.2s ease-in-out;
  margin: 0.75rem;
  font-size: 1.5rem;
  border-bottom: solid white 1px;
  width: 11rem;
  text-align: end;
}

.NavItem:hover {
  transform: scale(1.1);
}

.Link {
  text-decoration: none;
  font-weight: bold;
  color: #c84b31;
}

.Link:hover {
  transform: scale(1.1);
}

.Link:visited {
  color: #c84b31;
}
