

.NavbarHidden{
    position: absolute;
    right: 0;
    top:10px;
    background-color: #f2f2f2;
}


.Navbar{
    
    display: flex;
    align-items: center;
    margin-right: 2rem;
    margin-left: 2rem;
}