

.NavbarHidden{
    position: absolute;
    right: 0;
    top:10px;
    background-color: #f2f2f2;
    max-width: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.Navbar{
    
    display: flex;
    align-items: center;
    margin-right: 2rem;
    margin-left: 2rem;
}