

.SectionTitles{
    color: black;
    font-size: 3rem;
    font-weight: bold;
    /* text-align: left; */
   padding: 3.25rem 1rem 1.5rem 1rem;
    text-align: left;
}

@media(max-width:768px){
    .SectionTitles{font-size: 2.5rem;
        
    }

}

@media(max-width:480px){
    .SectionTitles{font-size: 1.5rem;
      
    }
}